.NoData {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 4em;
}

.NoData p {
	margin-bottom: 1em;
	color: var(--color-secundary);
	font-size: 1.2em;
}
