.Control {
	background-color: var(--bg-2);
	border: 1px solid transparent;
	outline: 0;
	display: block;
	width: 100%;
	padding: 0.6em 1em;
	font-family: var(--font-family);
	color: var(--color-secundary);
	resize: vertical;
	border-radius: 2em;

	transition: all var(--transition-delay);
	font-size: 1em;
}

.Control--textarea {
	height: 4em;
	min-height: 4em;
	max-height: 8em;
}

.Control:active,
.Control:focus {
	border: 1px solid var(--color-primary);
}
